<div class="profile-page">
    <mat-card class="mat-elevation-z12">
      <mat-card-title style="text-align:center;">Profile</mat-card-title>
      <mat-tab-group mat-stretch-tabs class="example-stretched-tabs">
        <mat-tab label="Edit">
          <mat-card-content>
            <form action="">
              
              <mat-form-field>
                <input
                  matInput
                  placeholder="Email"
                  required
                  name="email"
                  ngModel
                  #email="ngModel">
                  <mat-error *ngIf="email.invalid">Email is required</mat-error>
                <mat-icon matSuffix>email</mat-icon>
              </mat-form-field>
              <mat-form-field>
                <input
                matInput
                placeholder="First name"
                required
                minlength="1"
                name="firstname"
                ngModel
                #unit="ngModel">
                <!--<mat-error
                  *ngIf="firstname.errors.required">
                  Please enter your first name
                </mat-error>-->
              <mat-icon matSuffix>person</mat-icon>
            </mat-form-field>
            <mat-form-field>
              <input
              matInput
              placeholder="Last name"
              required
              minlength="1"
              name="lastname"
              ngModel
              #unit="ngModel">
              <!--<mat-error
                *ngIf="lastname.errors.required">
                Please enter your last name
              </mat-error>-->
            <mat-icon matSuffix>person</mat-icon>
          </mat-form-field>
          <mat-form-field>
            <input
            matInput
            placeholder="Phone"
            required
            minlength="10"
            name="phone"
            ngModel
            #unit="ngModel">
            <!--<mat-error
              *ngIf="lastname.errors.required">
              Please enter your last name
            </mat-error>-->
          <mat-icon matSuffix>phone</mat-icon>
        </mat-form-field>
        <mat-form-field>
            <input
            matInput
            placeholder="Unit #"
            required
            minlength="1"
            name="unit"
            ngModel
            #unit="ngModel">
            <mat-error
              *ngIf="unit.errors.required">
              Please enter the unit number
            </mat-error>
          <mat-icon matSuffix>home</mat-icon>
        </mat-form-field>
              <mat-form-field>
                <input
                  matInput
                  placeholder="Password"
                  type="password"
                  required
                  minlength="6"
                  name="password"
                  ngModel
                  #password="ngModel">
                  <mat-error
                    *ngIf="password.errors && password.errors.required">
                    Password is required
                  </mat-error>
                  <mat-error
                    *ngIf="password.errors && password.errors.minlength">
                    Password must be of length 6
                  </mat-error>
                <mat-icon matSuffix>lock</mat-icon>
  
              </mat-form-field>
              <mat-form-field>
                  <input
                  matInput
                  placeholder="Confirm Password"
                  type="password"
                  required
                  minlength="6"
                  name="repassword"
                  ngModel
                  #repassword="ngModel">
                  <mat-error
                    *ngIf="repassword.errors && repassword.errors.required">
                    Re-Enter Password is required
                  </mat-error>
                <mat-icon matSuffix>lock</mat-icon>
              </mat-form-field>
              <button
                mat-raised-button
                color="primary"
                class="save-button">
                Save
              </button>
              <button
                  mat-raised-button
                  class="discard-button">
                  Discard
                </button>
            </form>
          </mat-card-content>
        </mat-tab>
      </mat-tab-group>
    </mat-card>
  </div>