<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="paypal">Pay Dues</a>
      <a mat-list-item routerLink='create'>Create Announcement</a>
      <a mat-list-item routerLink='announcements'>Announcements</a>
      <a mat-list-item routerLink='profile'>Profile</a>
      <a mat-list-item routerLink='about'>About</a>
      <a mat-list-item color ="primary" *ngIf = "user.isadmin"><b>Admin Tools</b></a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Paradise</span>
      <span class="example-spacer"></span>
      <button mat-raised-button color="accent" routerLink="login" *ngIf = "loggedIn">Sign out</button>
    </mat-toolbar>
    <ng-content></ng-content>
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>

