mat-card {
    width: 50%;
    margin: 2% auto;
    border-radius: 8px;
  }

  .about-page {
    top: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: block;
    background-color: #303F9F;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
  }