<div class="login-page">
  <h1 style="color: aliceblue;font-size:500%;margin-top:30px;">Welcome to Paradise</h1>
    <mat-card class="mat-elevation-z12">
      <mat-card-title style="text-align:center;">SignIn/SignUp</mat-card-title>
      <mat-tab-group mat-stretch-tabs class="example-stretched-tabs">
        <mat-tab label="Sign In">
            <mat-card-content>
              <form action="">
                <mat-form-field>
                  <input
                    matInput
                    placeholder="Email"
                    required
                    name="email"
                    ngModel
                    #email="ngModel">
                    <mat-error *ngIf="email.invalid">Email is required</mat-error>
                  <mat-icon matSuffix>email</mat-icon>
                </mat-form-field>
                <mat-form-field>
                  <input
                    matInput
                    placeholder="Password"
                    type="password"
                    required
                    minlength="6"
                    name="password"
                    ngModel
                    #password="ngModel">
                    <mat-error
                      *ngIf="password.errors && password.errors.required">
                      Password is required
                    </mat-error>
                    <mat-error
                      *ngIf="password.errors && password.errors.minlength">
                      Password must be of length 6
                    </mat-error>
                  <mat-icon matSuffix>lock</mat-icon>
                </mat-form-field>
                <mat-checkbox>Remember Me!</mat-checkbox>
                <button
                  mat-raised-button
                  color="primary"
                  class="login-button"
                  (click)="onLoginButtonClicked(email.value, password.value)">
                  Sign In
                </button>

                <button
                  mat-raised-button
                  class="login-button">
                  Login with Google
                </button>
              </form>
            </mat-card-content>
        </mat-tab>



        <mat-tab label="Sign Up">
          <mat-card-content>
            <form action="">
              
              <mat-form-field>
                <input
                  matInput
                  placeholder="Email"
                  required
                  name="email1"
                  ngModel
                  #email1="ngModel">
                  <mat-error *ngIf="email1.invalid">Email is required</mat-error>
                <mat-icon matSuffix>email</mat-icon>
              </mat-form-field>
              <mat-form-field>
                <input
                matInput
                placeholder="First name"
                required
                minlength="1"
                name="firstname"
                ngModel
                #firstname="ngModel">
                <!--<mat-error
                  *ngIf="firstname.errors.required">
                  Please enter your first name
                </mat-error>-->
              <mat-icon matSuffix>person</mat-icon>
            </mat-form-field>
            <mat-form-field>
              <input
              matInput
              placeholder="Last name"
              required
              minlength="1"
              name="lastname"
              ngModel
              #lastname="ngModel">
              <!--<mat-error
                *ngIf="lastname.errors.required">
                Please enter your last name
              </mat-error>-->
            <mat-icon matSuffix>person</mat-icon>
          </mat-form-field>
          <mat-form-field>
            <input
            matInput
            placeholder="Phone"
            required
            minlength="10"
            name="phone"
            ngModel
            #phone="ngModel">
            <!--<mat-error
              *ngIf="lastname.errors.required">
              Please enter your last name
            </mat-error>-->
          <mat-icon matSuffix>phone</mat-icon>
        </mat-form-field>
              <mat-form-field>
                <input
                  matInput
                  placeholder="Password"
                  type="password"
                  required
                  minlength="6"
                  name="password1"
                  ngModel
                  #password1="ngModel">
                  <mat-error
                    *ngIf="password1.errors && password1.errors.required">
                    Password is required
                  </mat-error>
                  <mat-error
                    *ngIf="password1.errors && password1.errors.minlength">
                    Password must be of length 6
                  </mat-error>
                <mat-icon matSuffix>lock</mat-icon>
  
              </mat-form-field>
              <mat-form-field>
                  <input
                  matInput
                  placeholder="Confirm Password"
                  type="password"
                  required
                  minlength="6"
                  name="repassword"
                  ngModel
                  #repassword="ngModel">
                  <mat-error
                    *ngIf="repassword.errors && repassword.errors.required">
                    Re-Enter Password is required
                  </mat-error>
                <mat-icon matSuffix>lock</mat-icon>
              </mat-form-field>
              <mat-form-field>
                <input
                matInput
                placeholder="Unit #"
                required
                minlength="1"
                name="unit"
                ngModel
                #unit="ngModel">
              <mat-icon matSuffix>home</mat-icon>
            </mat-form-field>
              <button
                mat-raised-button
                color="primary"
                class="login-button"
                (click)="onSignupButtonClicked(email1.value, firstname.value, lastname.value, phone.value, unit.value, password1.value)">
                Sign Up
              </button>
            </form>
          </mat-card-content>
        </mat-tab>
      </mat-tab-group>
    </mat-card>
  </div>