<div class="admin-page">
    <mat-card class="mat-elevation-z12">
      <mat-card-title style="text-align:center;">Admin Tools</mat-card-title>
          <mat-card-content>
            <form action="">
              <mat-form-field>
                <input
                  matInput
                  placeholder="Unit #1 dues"
                  required
                  name="unit1"
                  ngModel
                  #unit1="ngModel">
              </mat-form-field>
              <mat-form-field>
                <input
                matInput
                placeholder="Unit #2 dues"
                required
                minlength="1"
                name="unit2"
                ngModel
                #unit2="ngModel">
            </mat-form-field>
            <mat-form-field>
                <input
                matInput
                placeholder="Unit #3 dues"
                required
                minlength="1"
                name="unit3"
                ngModel
                #unit3="ngModel">
            </mat-form-field>
            <mat-form-field>
              <input
              matInput
              placeholder="Unit #4 dues"
              required
              minlength="1"
              name="unit4"
              ngModel
              #unit4="ngModel">
          </mat-form-field>
          <mat-form-field>
            <input
            matInput
            placeholder="Unit #5 dues"
            required
            minlength="1"
            name="unit5"
            ngModel
            #unit5="ngModel">
        </mat-form-field>
        <mat-form-field>
          <input
          matInput
          placeholder="Unit #6 dues"
          required
          minlength="1"
          name="unit6"
          ngModel
          #unit6="ngModel">
      </mat-form-field>
      <mat-form-field>
        <input
        matInput
        placeholder="Unit #7 dues"
        required
        minlength="1"
        name="unit7"
        ngModel
        #unit7="ngModel">
    </mat-form-field>
    <mat-form-field>
      <input
      matInput
      placeholder="Unit #8 dues"
      required
      minlength="1"
      name="unit8"
      ngModel
      #unit8="ngModel">
  </mat-form-field>
  <mat-form-field>
    <input
    matInput
    placeholder="Unit #9 dues"
    required
    minlength="1"
    name="unit9"
    ngModel
    #unit9="ngModel">
</mat-form-field>
<mat-form-field>
  <input
  matInput
  placeholder="Unit #10 dues"
  required
  minlength="1"
  name="unit10"
  ngModel
  #unit10="ngModel">
</mat-form-field>
              <button
                mat-raised-button
                color="primary"
                class="save-button">
                Save
              </button>
              <button
                  mat-raised-button
                  class="discard-button">
                  Discard
                </button>
            </form>
          </mat-card-content>
    </mat-card>
  </div>